<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="project.Properties.Settings.classConnectionString"
            connectionString="Data Source=DESKTOP-2U70013\SQLEXPRESS;Initial Catalog=class;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="project.Properties.Settings.classConnectionString1"
            connectionString="Data Source=LAPTOP-UTHH29AI;Initial Catalog=class;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>